<%- include ("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">
        New Blog
    </div>
    <form  class= "ui form" action="/blog" method ="POST">
    <div class="field">
    <label>Title:</label>
    <input class="form" type="text" placeholder="title" name="blog[title]">
    </div>
    <div class="field">
    <label>Image:</label>
    <input class="form" type="text" placeholder="url" name = "blog[image]">
    </div>
    <div class="field">
    <label>Your Blog Content</label>
    <textarea name= "blog[body]"></textarea>
    <!--<input class="form" type="text" placeholder="Content" name= "blog[description]">-->
    </div>
    <input class="ui blue basic button" type="submit">
    </form>
</div>
<%- include ("partials/footer") %>